<h1>Welcome to My Recipe Box Web App</h1>
<p>
  This is handy web app for storing your favorite recipes.<br>
  This app serves as an alternative to storing your recipes in a smattering of
  bookmarks, Google docs, notebooks, actual books, index cards, and so forth.<b>
</p>
<p>
  <%= link_to 'My Recipe Box', controller: 'recipes' %>
</p>
